@charset "UTF-8";

body {
  height: 100vh;
}

#header {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
	font-size: 20px;
	height: 15%;
	background-color: #ccc;
}

#leftSidebar {
	box-sizing: border-box;
	width: 13%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	height: 60%;
	background-color: #ff80ff;
	float: left;
}

#main {
	box-sizing: border-box;
	width: 68%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	height: 60%;
	background-color: #eee;
	float: left;
}

#rightSidebar {
	box-sizing: border-box;
	width: 13%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	height: 60%;
	background-color: #ff80ff;
	float: left;
}

#footer {
	margin: 10px;
	clear: both;
	border: 1px solid black;
	font-size: 20px;
	height: 15%;
	background-color: #ccc;
}